@charset "utf-8";

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.container {
  @include touch  {
    padding: 0 1rem;
  }
}

main {
  flex: 1;
}

a {
  transition: all .2s ease-out;
  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: bottom;
}
