.leave-action {
  @include tablet {
    margin-top: 1.5rem;
  }
  @include mobile {
    margin-top: 1rem;
  }
}

.leave-action__inner {
  display: flex;
  justify-content: center;
}

.leave-action__button {
  font-weight: 800;
  height: 3rem;
  padding-inline: 2em;
  border-radius: .5em;
}
.leave-action__button-icon {
  width: .75em;
  margin-right: .5em;
}
