@charset "utf-8";

$container-max-width: 960px;
$navbar-item-img-max-height: 100px;
$dropdown-menu-min-widt: 19rem;
$modal-card-body-padding: 40px;
$text: #363636;
$link: $text;
$link--hover: #00D1B2;
$border: #e1e2e5;
$white-bis: #efefef;
$activities__item-start-width: 16rem;
$activities__item-start-width--mobile: 10rem;
