@charset 'utf-8';
@import 'bulma';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$navbar-item-img-max-height: 100px
$footer-padding: 2rem 1.5rem 3rem
$dropdown-menu-min-width: 19rem
