.logo-width {
  max-width: 200px;
}

.header-line {
  border-bottom: 1px solid #DBDBDB;
}

.question {
  display: inline-block;
  text-align: center;
}

.login-icon {
  display: inline-block;
  text-align: center;
}

.about-mark {
  cursor: pointer;
}
