@charset "utf-8";

main {
  flex: 1;
}

.dropdown-margin {
  margin: 65px 0;
}

.pt-description-width {
  width: 17rem;
}

.pr-description-width {
  width: 19rem;
}

// td {
//   vertical-align: middle;
// }


.square {
  list-style-type: square;
}

.no-user-message {
  margin: 200px 0;
}


